<footer>
  <div class="f-info sticky-top">
    <div class="socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="company-name">&copy; WonderLust Pvt. Ltd</div>
    <div class="links">
      <a href="/privacy">privecy</a>
      <a href="/term">Term</a>
    </div>
  </div>
</footer>
